@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');

.background{
    margin: 0%;
    padding: 0%;
    background-image: url(../Imagenes/BCK.jpg);
    background-size: cover;
    height: 25px;
    width: 25px;
}

.registration{
    width: 300px;
    padding: 25px;
    margin: 80px 450px;
    border-radius: 30px;
    border-color: aliceblue;
    box-shadow: 10px 13px 37px #000;
    justify-content: space-around;
    background-color: #061724;


}

label{
    color: antiquewhite;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

h3{
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: rgb(237, 220, 220);
    font-family: 'Montserrat', sans-serif;
}

.button{
    border-radius: 5px;
    height: 20px;
    width: 100px;
    color: black;
    text-decoration: solid;
    align-items: center;
}

.controls{
    
    padding: 5px;
    width:fit-content;
    height: 10px;
    border-radius: 8px;
    margin: 15px 5px 15px 5px;
    border:2px solid#061724
}

.width{
    width: 300px;
}

.list{
    min-height: 300px;
}